<a href="https://colab.research.google.com/github/Preeyam1/project1/blob/master/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
while True:
    a=[10,20,30,40]
    print(sum(a))
    break

100

In [ ]:
a=[10,20,30,40]
b=1
for i in a:
    b*=i
print(b)

240000

In [ ]:
while True:
    a=[10,100,2321, 1,200,2]
    print(max(a))
    break

2321

In [ ]:
while True:
    a=[10,100,2321, 1,200,2]
    print(min(a))
    break

1

In [ ]:
a=['ab', 'abc', 'aba', 'xyz', '1991']
for i in a:
    if i[::1] in i[::-1]:
        print(i)

aba
1991

In [ ]:
while True:
    a=[100,10,1,298,65,483,49876,2,80,9,9213]
    a.sort()
    print(a)
    break

[1, 2, 9, 10, 65, 80, 100, 298, 483, 9213, 49876]

In [ ]:
while True:
    a=[10,1,11,1,29,876,768,10,11,1,92,29,876]
    b=list(set(a))
    print(b)
    break

[768, 1, 10, 11, 876, 92, 29]

In [ ]:
while True:
    a=[]
    b=[10,20,30]
    c=input()
    if c=='a':
        print('List is Empty')
    else:
        print('List is not Empty')
    break

a
List is Empty

In [ ]:
while True:
    a=[10,10.20,10+20j, 'Python', [10,20], (10,20)]
    b=a.copy()
    print(b)
    break

[10, 10.2, (10+20j), 'Python', [10, 20], (10, 20)]

In [ ]:
a=input()
b=a.split()
c=[]
for i in b:
    if len(i)>=4:
        c.append(i)
print(list(set(c)))

How much wood would a woodchuck chuck if a woodchuck could chuck wood
['chuck', 'would', 'wood', 'much', 'could', 'woodchuck']

In [ ]:
a= [10,20,'Python', 10.20, 10+20j, [10,20,30], (10,20,30)]
b= [(10,20,30),1,20+3j,100.2, 10+20j, [10,20,30],'Python']
for i in a:
    for j in b:
        if i == j:
            print(i,j,True)

Python Python True
(10+20j) (10+20j) True
[10, 20, 30] [10, 20, 30] True
(10, 20, 30) (10, 20, 30) True

In [ ]:
a=[10,21,22,98,87,45,33,1,2,100]
b=[]
for i in a:
    if i%2!=0:
        b.append(i)
print(b)

[21, 87, 45, 33, 1]

In [ ]:
a=[10,21,22,98,87,45,33,1,2,100]
b=a.copy()
print(list(set(b)))

[33, 98, 1, 2, 100, 10, 45, 21, 22, 87]

In [ ]:
a=[0 for i in range(4)]
b=[i for i in range(4)]
c=[i for i in range(0,7,2)]
d=[i for i in range(0,10,3)]
print([a]+[b]+[c]+[d])

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6], [0, 3, 6, 9]]

In [ ]:
a=[[0]*6 for i in range(4)]
print(a)
b=[[i]*6 for i in range(4)]
print(b)
c=[[i]*6 for i in range(0,7,2)]
print(c)

[[0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0]]
[[0, 0, 0, 0, 0, 0], [1, 1, 1, 1, 1, 1], [2, 2, 2, 2, 2, 2], [3, 3, 3, 3, 3, 3]]
[[0, 0, 0, 0, 0, 0], [2, 2, 2, 2, 2, 2], [4, 4, 4, 4, 4, 4], [6, 6, 6, 6, 6, 6]]